# Reusable workflow for semantic PR title validation
# Can be called from other repositories using workflow_call
# Reference: https://github.com/amannn/action-semantic-pull-request
name: 'Reusable: PR Title Lint'

on:
  workflow_call:
    inputs:
      types:
        required: false
        type: string
        default: |
          build
          chore
          ci
          docs
          feat
          fix
          perf
          refactor
          revert
          style
          test
      scopes:
        required: false
        type: string
        default: ''
      requireScope:
        required: false
        type: boolean
        default: false
    secrets:
      github-token:
        required: true

permissions:
  contents: read

jobs:
  validate-pr-title:
    name: Validate PR Title
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
      pull-requests: read
      statuses: write
    steps:
    - name: Validate Semantic PR Title
      uses: amannn/action-semantic-pull-request@0723387faaf9b38adef4775cd42cfd5155ed6017   # v5.5.3
      env:
        GITHUB_TOKEN: ${{ secrets.github-token }}
      with:
        types: ${{ inputs.types }}
        scopes: ${{ inputs.scopes }}
        requireScope: ${{ inputs.requireScope }}
